@import url("https://rawcdn.githack.com/ecossistemadev/dev-theme-bookstack/797be5d74305e57caeb32a041df4789abdb549be/bookstack/padrao/styles.css");
@import url("https://rawcdn.githack.com/ecossistemadev/dev-theme-bookstack/797be5d74305e57caeb32a041df4789abdb549be/bookstack/padrao/print-styles.css") print;
@import url("https://rawcdn.githack.com/ecossistemadev/dev-theme-bookstack/797be5d74305e57caeb32a041df4789abdb549be/css/_main.css");

input {
    width: 100% !important;
}

input[type="checkbox"] {
    width: auto !important;
}

label {
    display: inline-block !important;
}

.col.beneficios,
.col.beneficios ul{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.col.beneficios ul{
    gap: 1rem;
    font-size: 1rem;
    color: #ccc;
    font-weight: bold;
    list-style: none;
    padding-left: 0;
}

.col.beneficios li::before {
    content: "\2713";
    margin-right: 5px;
    color: var(--bs-success);
}

.col.form {
    width: 55%;
}

.col.beneficios {
    width: 40%;
}


/* Tela de PC */
@media (min-width:768px) {}

/* Tela de Mobile Teclado Ativo */
@media (max-width:767px) and (max-height:450px) {}

/* Tela de Mobile JioPhone 2 Ativo */
@media (max-width:400px) and (max-height:400px) {}

/* Tela de Mobile */
@media (max-width:767px) {
    .col.form {
        width: 100%;
    }

    .col.beneficios {
        width: 100%;
    }
}