@import url("https://rawcdn.githack.com/ecossistemadev/dev-theme-bookstack/797be5d74305e57caeb32a041df4789abdb549be/bookstack/padrao/styles.css");
@import url("https://rawcdn.githack.com/ecossistemadev/dev-theme-bookstack/797be5d74305e57caeb32a041df4789abdb549be/bookstack/padrao/print-styles.css") print;
@import url("https://rawcdn.githack.com/ecossistemadev/dev-theme-bookstack/797be5d74305e57caeb32a041df4789abdb549be/css/_main.css");

input{
    width: 100%!important;
}

input[type="checkbox"]{
    width: auto!important;
}

label{
    display: inline-block!important;
}